
.bgcolor{background-color: #2d89d4cc;}
.bgcolor2{background-color:rgba(238, 239, 247, 0.627);}/* animation: mymove 2s infinite;*/
.bgcol{background-color:rgba(238, 239, 247);}

.myform{margin-left: 20%; margin-right: 20%;}

.bgrad{
	background: linear-gradient(180deg, #ffffff, #fc3b3bbb);
	background-size: cover;
    /* animation: gradient 5s ease infinite; */
}
.hblink{
	color: black;
	animation: hblink 2s infinite;
}
@keyframes hblink {
    50% {color:#2734e9;}
}

/* @keyframes mymove {
    50% {background: linear-gradient(180deg, #ffffff 0%, #ece036 100%);}
} 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */